* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #111;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
  background: #111;
}

.logo {
  color: #ff6600;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  color: #aaa;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a.active,
.nav-links a:hover {
  color: #ff6600;
}

.btn-primary {
  background: #ff6600;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-primary.small {
  padding: 8px 18px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #888;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8% 8%;
}

.hero-text {
  flex: 1;
}

.hero-text p {
  color: #aaa;
  font-size: 1rem;
}

.hero-text h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
}

.hero-text h1 {
  font-size: 3rem;
  color: #ff6600;
  margin: 15px 0 25px;
}

.social-icons a {
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 15px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #ff6600;
}

.buttons {
  margin: 30px 0;
  display: flex;
  gap: 20px;
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.stats h3 {
  color: #ff6600;
  font-size: 1.5rem;
}

.hero-image img {
  width: 350px;
  border-radius: 10px;
  filter: grayscale(100%);
}
